<div class="container mt-4">
    <h3>List by Type</h3>
    <p>Browse by type through the complete list of places where you can find natural wine in Singapore.</p>
    </br>
    <div class="mb-12">
      <div class="row">
        <div class="col-md-12">
              <a class="btn btn-secondary" href="/new">Add New Place</a>
          </div>
      </div>
    </div>
    </br>
    <div id="accordion">
        <div class="card">
          <div class="card-header accordeon-buttons" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong style="color: white;">BARS</strong>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse accordeon-cards" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="container">
                  <div class="row">
                    <% places.forEach(place => { %>
                      <% if(place.placeType == "bar") {%>
                        <div class="col-lg-4 col-md-6 col-sm-6 mb-3 d-flex">
                          <div class="card flex-fill">
                            <div class="card-body" style="height: 40%;">
                              <img class="card-img-top img-fluid" src="<%= place.image %>" alt="Card image" style="width:100%; height: auto; margin-bottom: 5px;">
                              <h5 class="card-title">
                                <a href="/show/<%= place._id %>"><%= place.name %></a>
                                  (<% place.district.forEach(district => { %>
                                  <%= district.name %>
                                    <% }) %>
                                    )
                              </h5>
                              
                              </div>
              
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                  <div class="card-contact-details">
                                    <p class="card-text text-capitalize">
                                      <a href="tel:<%= place.phoneNumber %>">Phone</a>
                                    </p>
                                    <p class="card-text text-capitalize">
                                      <a href="mailto:<%= place.email %>">Email</a>
                                    </p>
                                    <p class="card-text text-capitalize" >
                                      <a href="<%= place.website %>">Website</a>
                                    </p>
                                  </div>
                                  <div class="col-md-1"></div>
                                </br>
                                  <p class="card-text text-capitalize">
                                    <i><%= place.description %></i>
                                  </p>
                              </div>
                            </div>
                          </br>
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-7">
                                <p class="card-text text-capitalize">
                                    Added by: </br>
                                    <%= place.addedBy.username %>
                                </p>
                              </div>
                              <div class="col-md-3">
                                <h6 class="card-title">
                                  <a href="/edit/<%= place._id %>" class="btn btn-light">
                                      Edit
                                  </a>
                                </h6>
                              </div>
                              <div class="col-md-1"></div>
                            </div>
                          </div>
                        </div>
                  <% } else {}; %>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header accordeon-buttons" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong style="color: white;">RESTAURANTS</strong>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse accordeon-cards" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">
                <% places.forEach(place => { %>
                  <% if(place.placeType == "restaurant") {%>
                          <div class="col-lg-4 col-md-6 col-sm-6 mb-3 d-flex">
                            <div class="card flex-fill">
                              <div class="card-body" style="height: 40%;">
                                <img class="card-img-top img-fluid" src="<%= place.image %>" alt="Card image" style="width:100%; height: auto; margin-bottom: 5px;">
                                <h5 class="card-title">
                                  <a href="/show/<%= place._id %>"><%= place.name %></a>
                                    (<% place.district.forEach(district => { %>
                                    <%= district.name %>
                                      <% }) %>
                                      )
                                </h5>
                                
                                </div>
                
                                <div class="row">
                                  <div class="col-md-1"></div>
                                  <div class="col-md-10">
                                    <div class="card-contact-details">
                                      <p class="card-text text-capitalize">
                                        <a href="tel:<%= place.phoneNumber %>">Phone</a>
                                      </p>
                                      <p class="card-text text-capitalize">
                                        <a href="mailto:<%= place.email %>">Email</a>
                                      </p>
                                      <p class="card-text text-capitalize" >
                                        <a href="<%= place.website %>">Website</a>
                                      </p>
                                    </div>
                                    <div class="col-md-1"></div>
                                  </br>
                                    <p class="card-text text-capitalize">
                                      <i><%= place.description %></i>
                                    </p>
                                </div>
                              </div>
                            </br>
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-7">
                                  <p class="card-text text-capitalize">
                                      Added by: </br>
                                      <%= place.addedBy.username %>
                                  </p>
                                </div>
                                <div class="col-md-3">
                                  <h6 class="card-title">
                                    <a href="/edit/<%= place._id %>" class="btn btn-light">
                                        Edit
                                    </a>
                                  </h6>
                                </div>
                                <div class="col-md-1"></div>
                              </div>
                            </div>
                          </div>
                  <% } else {}; %>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header accordeon-buttons" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong style="color: white;">SHOPS</strong>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse accordeon-cards" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <% places.forEach(place => { %>
                    <% if(place.placeType == "shop") {%>
                          <div class="col-lg-4 col-md-6 col-sm-6 mb-3 d-flex">
                            <div class="card flex-fill">
                              <div class="card-body" style="height: 40%;">
                                <img class="card-img-top img-fluid" src="<%= place.image %>" alt="Card image" style="width:100%; height: auto; margin-bottom: 5px;">
                                <h5 class="card-title">
                                  <a href="/show/<%= place._id %>"><%= place.name %></a>
                                    (<% place.district.forEach(district => { %>
                                    <%= district.name %>
                                      <% }) %>
                                      )
                                </h5>
                                
                                </div>
                
                                <div class="row">
                                  <div class="col-md-1"></div>
                                  <div class="col-md-10">
                                    <div class="card-contact-details">
                                      <p class="card-text text-capitalize">
                                        <a href="tel:<%= place.phoneNumber %>">Phone</a>
                                      </p>
                                      <p class="card-text text-capitalize">
                                        <a href="mailto:<%= place.email %>">Email</a>
                                      </p>
                                      <p class="card-text text-capitalize" >
                                        <a href="<%= place.website %>">Website</a>
                                      </p>
                                    </div>
                                    <div class="col-md-1"></div>
                                  </br>
                                    <p class="card-text text-capitalize">
                                      <i><%= place.description %></i>
                                    </p>
                                </div>
                              </div>
                            </br>
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-7">
                                  <p class="card-text text-capitalize">
                                      Added by: </br>
                                      <%= place.addedBy.username %>
                                  </p>
                                </div>
                                <div class="col-md-3">
                                  <h6 class="card-title">
                                    <a href="/edit/<%= place._id %>" class="btn btn-light">
                                        Edit
                                    </a>
                                  </h6>
                                </div>
                                <div class="col-md-1"></div>
                              </div>
                            </div>
                          </div>
                    <% } else {}; %>
                    <% }) %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>

  