
<div class="container lg-12">
    <h1>List by District</h1>
    </br>
    <div class="lg-12">
      <div class="row">
        <div class="col-lg-12">
              <a class="btn btn-light" href="/district/new">Add New District</a>
          </div>
      </div>
    </div>
</br>
</br>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% districts.forEach(district => { %>
          <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex align-items-stretch">
            <div class="card flex-fill">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/district/show/<%= district._id %>">
                        <%= district.name %>
                    </a>
                </h5>
                </div>
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-xs-1 mb-3"></div>
                  <div class="col-md-10 col-sm-10 col-xs-10 mb-3">
                    <h5 class="card-text text-left">
                      A few places to visit
                    </h5>
                  </br>
                    <p >
                      • <%= district.places[0] %>
                    </p>
                    <p>
                      • <%= district.places[1] %>
                    </p>
                    <p>
                      • <%= district.places[2] %>
                    </p>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 mb-3"></div>
                </div>

            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>